.appart_main_container{
    width: 100vw;
    max-width: 85%;
   justify-content: center;
   align-items: center;
   margin: auto;
}
.appart_text_section{
    margin:  25px;
}
h2{
    margin-bottom: 1rem;
    color: #1f4b43;
}
.appart_container{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
     align-items: flex-start;
    margin: 0;
}
.lekki_container{
    width: 100%;
    border-radius: 10px; 
    align-items: center;    
}
.lekki_img{
    width: cover;
    border-radius: 10px;
   
}

.agege_container,
.mainland_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-radius: 10px;
    margin: 0;
}

.agege_img_container, 
.agege_container > div {
    width: 100%; 
    display: flex;
    align-items: center;
    border-radius: 10px;
   
   
    
}

.agege_img, 
.obalande_img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
} 

.mainland_img_container, 
.mainland_container > div {
    width: 100%; 
    display: flex;
    align-items: center;
    border-radius: 10px;
  
}

.house_button {
    transform: translate(0%, -160%);
    background-color: rgba(0, 0, 0, 0.4); 
    color: white;
    width: 70%;
    height: 58.69px;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 10px;
    text-align: left;
}

.house_text{
    font-size: 16px; 
}
.house_btn {
    transform: translate(-450%, 130%);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    height: 58.69px;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 10px;
    text-align: left;
}

.house_ {
    transform: translate(-320%, 130%);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    height: 58.69px;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 10px;
    text-align: left;
}
.house_b {
    transform: translate(-450%, 130%);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    height: 58.69px;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 10px;
    text-align: left;
}
.house_bt {
    transform: translate(-420%, 130%);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 120px;
    height: 58.69px;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 10px;
    text-align: left;
}
.house_text{
    font-size: 16px; 
}

.overlay_button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
@media (max-width: 841px) {
    .appart_main_container {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      height: 1800px;
      max-width: 100%;
    }
   .appart_container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: fit-content;
   }
   .lekki_container{
    width: 95%;
    margin: 0 2rem;
    
}
.lekki_img{
    width: cover;
    margin-right: 25px;

}

   .agege_container, 
   .mainland_container{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 0 2rem;
}

  }