.hero_section_container{
    height: 92vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-position: bottom ;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.hero_section_content{
   
    width: 45%;
    height: max-content;
   
}

.hero_section_content p{
   
    
    font-size: 45px;
    color: #1f4b43;
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.hero_section_content span{
    /* padding: 0 1rem; */
    margin-top: 1rem;
    font-size: 14px;
    color: #35384b;
    text-align: center;
    padding-left: 5px;

}
.btn_container {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.btn_container .btn,
.btn_container .outline{
    width: 32%;
}


@media (max-width: 841px) {
    .hero_section_container{
        height: 92vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        background-position: bottom ;
        background-repeat: no-repeat;
        background-size: cover;
       
    }
    
    .hero_section_content{
        width: 100%;
        padding: 0 1rem;   
        margin-top: 0rem;    
    }
    
    .hero_section_content p{
        font-size: 35px;
    }
    
    .hero_section_content span{
        padding: 0 1rem;
      
    }
    .btn_container {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    .btn_container .btn,
    .btn_container .outline{
        width: 45%;
    }
}