.main{
    background-color: blue;
    padding: 3rem 0;

}

.f_container{
    width: 70% ;
    background-color: red;
    margin: 0 auto;
    
}

.f_container h2{
    color: #4b431f;
}

.f_container p{
    color: #141115;
}

