.fyp_container {
    padding: 8rem 10rem;
    background-image: url("../../assets/fypbg.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 450px;
}
 
 .fyp_image_sec,
 .fyp_text_sec{   
     flex-basis: 50%;
 }
 .fyp_text_sec{
     text-align: left;
 }
 .fyp_image_sec img {
     height: auto;
     width: 100%;
     object-fit: cover;
 }
 .fyp_text_sec div p{
     font-weight: bolder;
     font-size: 33px;
     color: #fff;
     padding-right: 10px;
     margin: 0 0 1rem 0;
 }
 .fyp_text_sec div span{
     font-weight: normal;
     font-size: 33px;
     color: #fff;
 }
 .fyp_button{
     margin-top: 2rem;
     width: 40%;
     color: #1f4b43;
 }

 @media (max-width: 841px) {
    .fyp_container {
        flex-direction: column;
        padding: 2rem;
        height: max-content;
    }

    .fyp_text_sec {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .fyp_image_sec,
    .fyp_text_sec {
        flex-basis: 100%;
    }
    .fyp_text_sec div p{
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        padding-right: 0rem;
        margin: 0 0 1rem 0;
    }
    .fyp_text_sec div span{
        font-size: 25px;
    }
    .fyp_button{
        margin-top: 2rem;
        width: 100%;
    }
  

}
 