/* *{
   border: 2px solid red; 
} */

.header_container{
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem;
}

.header_cta_section {
    gap: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_cta_section ul li {
    list-style: none;
    font-style: normal;
    
}

.header_cta_section ul li a {
    text-decoration: none;
    color:#1f4b43;
    /* font-weight: normal; */
    text-transform: capitalize;
    font-size: 14px;
    /* font-family: 'Courier New', Courier, manrope; */
}
/* @media screen {
    This picks the screen size by default
} */
.mobile_logo{
    display: none;
}
.menu {
    display: none;
}

@media (max-width: 768px) {
  .header_container {
    width: 100vh;
    justify-content: space-between;
    padding: 0;
 } 
  .desktop_logo{
    display: none;
   }
   
   .mobile_logo{
    display: block;
   }
   .menu{
    display: block;
    padding-left: 10px;
   }
   .header_cta_section {
    padding-right: 10px;
    flex-direction: row;
    gap: 10px;
   }
   .header_cta_section ul {
    display: none;
   }
}